.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 100px;
    padding: 50px 20px;
}
.new-collections h1{
    color: var(--primary-navy);
    font-size: 40px;
    font-weight: 600;
}
.new-collections hr {
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: var(--soft-pink);
}
.collections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto;
    gap: 30px;
    max-width: 1280px;
}
